body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #383838;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh;
}

main {
    width: 90%;
    max-width: 800px;
    margin-top: 40px;
    padding: 0 20px;
}

header {
    background-color: #383838;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
    font-size: 1.2em;
    padding-left: 20px
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #80e27e;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
